/* RESET */
*{
  margin: 0%;
  padding: 0%;
}

ul {
  list-style: none;
}

/*******VARIABLES***********/
:root {
  /*Color*/
  --hue: 64;
  --base-color: hsl(var(--hue) 100% 91%);
  --title-color: hsl(var(--hue) 3% 17%);
  --title-color-second: hsl(var(--hue) 100% 30%);
  --base-color-second: hsl(var(--hue) 97% 83%);
  /*Fonts*/
  --title-font-size: 1.75rem;
  --subtitle-font-size: 1.125rem;
  --sub-subtitle-font-size: 1rem;
  --text-font-size: 0.875rem;
}

/*******BASE***********/
body {
  background-color: var(--base-color);
  font-family: 'Roboto', sans-serif;
}
/* FONTS */
h1, h2, h3, .price {
  font-family: 'Roboto Serif', serif;
  text-transform: uppercase;
  color: var(--title-color);
}

/* HEADER */
header {
  padding: 2rem 0;
  text-align: center;
}

header, section {
  max-width: 18.75rem;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 0.25rem;
  font-size: var(--title-font-size);
  line-height: 2.0625rem;
}

header h1 span {
  color: var(--title-color-second);
}

header p {
  font-size: var(--text-font-size);
  line-height: 1rem;
  color: rgba(0, 0 , 0, 0.7);
}

header p span{
  font-size: var(--text-font-size);
  color: var(--title-color-second);
}

/* SECTION */

section {
  margin-bottom: 24px;
}
section h2 {
  background-color: var(--base-color-second);
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: var(--subtitle-font-size);
}

section h2  span{
  color: var(--title-color-second);
  padding: 8px 16px;
  margin-bottom: 1.5rem;
  font-size: var(--subtitle-font-size);
}

/* LISTA */
ul li {
  margin-bottom: 1rem;
  display: flex;
}

li .details {
  max-width: 15rem;
}

.details h3 {
  margin-bottom: 0.5rem;
  font-size: var(--sub-subtitle-font-size);
  line-height: 1.1875rem;
}

.details p {
  color: rgba(0, 0 , 0, 0.6);
  font-size: var(--text-font-size);
  line-height: 1.3125rem;
}

/* FOOTER */
footer {
  max-width: 18.75rem;
  margin: 0 auto;
}

footer h3 {
  padding: 2rem 0;
  text-align: center;
}

footer .row {
  display: flex;
}

footer .column {
  display: flex;
  justify-content: center;
  flex: auto;
  margin-bottom: 2rem;  
}

footer .column img {
  max-width: 6rem;
  max-height: 3rem;
}

